.charactersList {
  display: flex;
  flex-wrap: wrap;
}

.charactersList__results {
  text-align: center;
}

.charactersList__pagination {
  text-align: center;
  display: inline-flex;
  margin-top: 15px;
  margin-bottom: 10px;
}
