.location {
  display: flex;
}

.location__icon {
  font-weight: bold;
  color: #649579;
  font-size: 19px;
}

.location__text {
  margin-left: 10px;
  font-size: 18px;
  margin-top: 3px;
}

.location__name {
  margin-left: 15px;
  font-size: 19px;
  margin-top: 3px;
}
